
<div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-sidemenu></app-sidemenu>
      </div>
      <div style=" font-family: 'Gemunu Libre', sans-serif;" class="col-md-9">
        <div style="padding-top: 20px; " class="container">
            <div class="container">
                <p-table
                  
                  id="myTable"
                  #dt
                  [value]="employees"
                  dataKey="id"
                  styleClass="p-datatable-striped"
                  [rowHover]="true"
                  [rows]="10"
                  [showCurrentPageReport]="true"
                  [rowsPerPageOptions]="[10, 25, 50]"
                  [paginator]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [filterDelay]="0"
                  [globalFilterFields]="['companyName', 'website', 'email', 'phoneNumber']"
                >
                  <ng-template pTemplate="caption">
                    <div style=" font-family: 'Gemunu Libre', sans-serif;" class="table-header">
                      List of Employers
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr style=" font-family: 'Gemunu Libre', sans-serif;">
                      <th pSortableColumn="companyName">
                        <div class="d-flex justify-content-between align-items-center">
                          Company Name
                          <p-sortIcon field="companyName"></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="companyName"
                            display="menu"
                            class="ms-auto"
                          ></p-columnFilter>
                        </div>
                      </th>
              
                      <th pSortableColumn="website">
                        <div class="d-flex justify-content-between align-items-center">
                          Website
                        </div>
                      </th>
              
                      <th pSortableColumn="email">
                        <div class="d-flex justify-content-between align-items-center">
                          Email
                        </div>
                      </th>
              
                      <th pSortableColumn="phoneNumber">
                        <div class="d-flex justify-content-between align-items-center">
                          Phone Number
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-employer>
                    <tr style=" font-family: 'Gemunu Libre', sans-serif;" class="p-selectable-row">
                      <td>
                        <span class="p-column-title">Company Name</span>
                        {{ employer.companyName }}
                      </td>
              
                      <td>
                        <span class="p-column-title">Company Name</span>
                        {{ employer.website }}
                      </td>
              
                      <td>
                        <span class="p-column-title">Company Name</span>
                        {{ employer.email }}
                      </td>
              
                      <td>
                        <span class="p-column-title">Company Name</span>
                        {{ employer.phoneNumber }}
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="8">No employers found.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
        </div>
        
      </div>
    </div>
  </div>

  










