

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-md-9">
      <p-card >
        <ng-template pTemplate="title">
          Personal Languages İnformation
        </ng-template>
      
      
      
      
      
      
      
      
      <form style=" font-family: 'Gemunu Libre', sans-serif;" [formGroup]="cvForm">
          <label>Select the language you want to add </label>
          <select  name="languageId"
          id="languageId"
          class="form-select"
          formControlName="languageId" class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option value="" disabled selected>Choose your language</option>
              <option *ngFor="let language of languages"  value="{{language.id}}">{{language.name}}</option>
          </select>
          <div style="padding-top: 10px;">
          <select   name="languageLevel"
          id="languageLevel"
          class="form-select"
          formControlName="languageLevel" class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option value="" disabled selected>Choose your language level</option>
              <option >C2</option>
              <option >C1</option>
              <option >B2</option>
              <option >B1</option>
              <option >A2</option>
              <option >A1</option>
          </select>
      </div>
          <button
          
        class="btn btn-primary my-4"
        (click)="add()"
      >
        Add 
      </button>
      </form>
      
      
      <div style="padding-top: 20px; font-family: 'Gemunu Libre', sans-serif; " class="container">
          <p-table id="myTable" #dt class="deneme" [value]="candidateLanguage" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [ngStyle]="{backgroundColor:'var(--blue-500)'}"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
            >
            <ng-template pTemplate="caption">
              <div class="table-header">
                List of Language
        
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="languageName">
                  <div class="d-flex justify-content-between align-items-center">
                    Language Name
                    <p-sortIcon field="languageName"></p-sortIcon>
                    <p-columnFilter type="text" field="languageName" display="menu" class="ms-auto"></p-columnFilter>
                  </div>
                </th>
      
                <th pSortableColumn="languageLevel">
                  <div class="d-flex justify-content-between align-items-center">
                    Language Level
                    <p-sortIcon field="languageLevel"></p-sortIcon>
                    <p-columnFilter type="text" field="languageLevel" display="menu" class="ms-auto"></p-columnFilter>
                  </div>
                </th>
        
               
           
        
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-language>
              <tr class="p-selectable-row">
                <td>
                  <span class="p-column-title">Language Name</span>
                  {{ language.language.name }}
                </td>
                <td>
                  <span class="p-column-title">Language Level</span>
                  {{ language.languageLevel }}
                </td>
               
        
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="8">No jobs found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
  </div>
</div>
