
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
<div style="margin-top: 15px;" class="container">
    <div class="row">
        <div class="overflow-auto">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-md-6 col-sm-3 col-xs-12">
                            <h4 class="title">Position<span>List</span></h4>
                            
                        </div>
                        
                        
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Position</th>
                                
                            </tr>
                        </thead>
                       
                            
                                <tbody  class="customtable ">
                                    
                                    <tr *ngFor="let position of positions | paginate: { 
                                        itemsPerPage: 10,
                                        currentPage: page,
                                        totalItems: totalRecords } ">
                                        <td  style="font-family: serif;">{{position.id}}</td>
                                        <td style="font-family: serif;">{{position.title}}</td>
                                    </tr>
                                    
                                    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
                                    <button routerLink="/department-add" class="btn btn-outline-light" style="box-sizing: border-box;border: 0; border-radius: 24px;">Add Postion</button>
                                </tbody>
                            
                        
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>












