<div style=" font-family: 'Gemunu Libre', sans-serif;" class="container">
  <div class="row">
    <div class="col-md-3">
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-md-9 pt-4">
      <div style=" font-family: 'Gemunu Libre', sans-serif;" class="container">
        <div class="row">
          <div class="col-md-4">
            <li class="list-group-item rounded fw-bold   ">
               Positions
            </li>
            <ul class="list-group overflow-auto" style="height: 515px">
              <li *ngFor="let position of positions" class="list-group-item">
                {{ position.title }}
              </li>
            </ul>
          </div>
          <div class="col-md-8  ">
            <div class="card">
              <div class="card-header  fw-bold fs-6  text-center">Add Position</div>
              <div class="card-body">
                <form [formGroup]="addForm">
                  <div class="form-group">
                    <label>Position title</label>
                    <input class="form-control w-100" type="text" id="title" formControlName="title"
                      placeholder="Please enter position title" />

                  </div>

                  <div class="text-center">
                    <button [disabled]="!addForm.valid" class="btn btn-primary mt-3" (click)="add()">
                      Add Position
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>