<div class="container">
    <div class="row">
        <div class="col-md-4 pt-2">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image"
                        src="https://image.freepik.com/free-photo/close-up-image-programer-working-his-desk-office_1098-18707.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">{{positions[0].title}}</h3>
                        <i style="color: white;" class="fas fa-code fa-3x"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 pt-2">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image"
                        src="https://image.freepik.com/free-photo/young-network-engineer-with-box-looking-ethernet-switches_23-2148323473.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">{{positions[1].title}}</h3>
                        <i style="color: white;" class="fas fa-network-wired fa-3x"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 pt-2">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image"
                        src="https://image.freepik.com/free-photo/close-up-man-writing-code-laptop_158595-5169.jpg">
                 
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">{{positions[2].title}}</h3>
                        <i style="color: white;" class="fab fa-java fa-3x"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pt-2">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image"
                        src="https://image.freepik.com/free-photo/man-analysing-binary-code-virtual-screen_53876-98559.jpg">

                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">{{positions[3].title}}</h3>
                        <i style="color: white;"  class="fas fa-layer-group fa-3x"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 pt-2">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image"
                        src="https://image.freepik.com/free-photo/html-programming-advanced-technology-web-concept_53876-124133.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">{{positions[4].title}}</h3>
                        <i style="color: white;" class="fab fa-html5 fa-3x"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>



</div>