<div class="container">

    <div class="myClass" style=" background: linear-gradient(#141e30, #243b55);">
        <h2>Share Job Advertisement</h2>
        <form [formGroup]="jobAdvertisementForm">
          
            <div class="mb-3 user-box">
                <label >City</label>
                <select  class="form-select" formControlName="cityId" >
                    <option value="" disabled>Cities</option>
                    <option *ngFor="let city of cities" [ngValue]="city.id" >{{city.name}}</option>  
                </select>
            </div>
            <div class="mb-3">
                <label style="color:white">Deadline</label>
                <input type="date" placeholder="" formControlName="deadLine" class="form-control"  />
            </div>
            <!-- <div class="mb-3">
                <label style="color:white">Company Name</label>
                <select  class="form-select" formControlName="employerId" >
                    <option *ngFor="let employer of employers" [ngValue]="employer.id" >{{employer.companyName}}</option>  
                </select>
            </div> -->
            <div class="mb-3">
                <label style="color:white">job Description</label>
                <input type="text" placeholder="" formControlName="jobDescription"
                    class="form-control" />
            </div>
            <div class="mb-3">
                <label style="color:white">Minumum Salary</label>
                <input type="number" placeholder="" formControlName="minSalary" class="form-control" />
            </div>
            <div class="mb-3">
                <label style="color:white">Maximum Salary</label>
                <input type="number" placeholder="" formControlName="maxSalary" class="form-control" />
            </div>
            <div class="mb-3">
                <label style="color:white">Number of Positions</label>
                <input type="number" placeholder="" formControlName="openPositions"
                    class="form-control" />
            </div>
            <div class="mb-3">
                <label style="color:white">Work Model</label>
                <input type="text" placeholder="" formControlName="workModel" class="form-control" />
            </div>
            <div class="mb-3">
                <label style="color:white">Position Name</label>
                <select name="positionId" id="positionId" class="form-control" formControlName="positionId">
                    <option *ngFor="let position of positions" [ngValue]="position.id">{{position.title}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label style="color:white">Work Time</label>
                <input type="workTime" placeholder="" formControlName="workTime" class="form-control" />
            </div>

            <a (click)="addJobAdvertisement()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
        </form>
    </div>

</div>