<div style=" font-family: 'Gemunu Libre', sans-serif;" class="container">
    <div class="row">
        <div class="col-md-3">
            <app-sidemenu></app-sidemenu>
        </div>
        <div class="col-md-9 pt-4">
            <div style=" font-family: 'Gemunu Libre', sans-serif;" class="container" >
                <form id="stripe-login" [formGroup]="jobAdvertisementForm">
                    <div class="field padding-bottom--24">
                        <select class="form-select" formControlName="cityId">
                            <option value="" disabled>Cities </option>
                            <option *ngFor="let city of cities" [ngValue]="city.id">{{city.name}}
                            </option>
                        </select>
                    </div>
                    <div class="field padding-bottom--24">
                        <label>Please enter the position name for this job posting</label>
                        <select name="positionId" id="positionId" class="form-select" formControlName="positionId">
                            <option value="" disabled>Position Name </option>
                            <option *ngFor="let position of positions" [ngValue]="position.id">
                                {{position.title}}</option>
                        </select>

                    </div>
                   
                    <div class="field padding-bottom--24">
                        <label>Please enter the work model for this job posting</label>

                        <select class="form-select" formControlName="workModel">
                            <option value="" disabled>Work Model </option>
                            <option>Hybrid</option>
                            <option>Office</option>
                            <option>İnternship</option>
                            <option>Seasonal</option>
                        </select>
                    </div>
                    <div class="field padding-bottom--24">
                        <label>Work Time</label>

                        <select class="form-select" formControlName="workTime">
                            <option value="" disabled>Work Time </option>
                            <option>Full Time</option>
                            <option>Part Time</option>

                        </select>
                    </div>
                    <div class="field padding-bottom--24">
                        <label>Please enter the job description for this job posting</label>
                        <input type="text" placeholder="Job Description" formControlName="jobDescription"
                            class="form-control" />

                    </div>
                    <div class="field padding-bottom--24">
                        <label>Please enter the minumum salary for this job posting</label>
                        <input type="number" placeholder="Minumum Salary" formControlName="minSalary"
                            class="form-control" />
                    </div>

                    <div class="field padding-bottom--24">
                        <label>Please enter the maximum salary for this job posting</label>
                        <input type="number" placeholder="Maximum Salary" formControlName="maxSalary"
                            class="form-control" />

                    </div>
                    <div class="field padding-bottom--24">
                        <label>Please enter the number of the positions for this job posting</label>
                        <input type="number" placeholder="Open Positions" formControlName="openPositions"
                            class="form-control" />

                    </div>
                    <div class="field padding-bottom--24">
                        <label>Please enter the deadline for this job posting </label>
                        <input type="date" placeholder="Deadline" formControlName="deadline" class="form-control" />
                    </div>








                    <div class="d-grid gap-2 pt-2">
                        <button class="btn btn-primary btn-blck" type="submit" 
                          [disabled]="!jobAdvertisementForm.valid"  (click)="addJobAdvertisement()" name="submit" placeholder="Add" value="Continue">Add</button>

                    </div>
                    <small *ngIf="jobAdvertisementForm.valid" class="text-danger mt-0 mb-1">*İş ilanınız sistem çalışanı tarafından onaylandıktan sonra yayına alınacaktır.</small>

                </form>
            </div>
        </div>
    </div>
</div>