
  .firstImage{
    background-image:url("C:/WebDevelop/firstMyProject/myFirstProject/src/environments/images/92a752b4-2f5b-45c7-a451-d84b32ccb0cf.jpg");
    
   background-position: top;
   background-size: cover;
   

  }

  .firstClass{
    background-color: #f8f5f0;
  }

 .socialAccount{
   text-align: center;
 }

  .firstInput{
    width: 40%;
    height: 40%;
  }
  
  b{
    font-size: 20;
  }
  div{
    font-family: 'Gemunu Libre', sans-serif;
  }

  .card{
    background-color: #f8f5f0;
  }
  