
  <div style="background-image: url(https://i.pinimg.com/originals/ea/80/e8/ea80e8bcf70c0a180cdc6905afb3f1c1.jpg);"
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
    <div  class="col-lg-7 p-3 p-lg-5 pt-lg-3  ">
      <h1 class="display-5 fw-bold lh-1">
        Find your new dream job
       
      </h1>
      
      <p class="lead ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec elit gravida,
        ultrices
        arcu vel, tristique leo. Sed sed malesuada justo. Nullam non orci id leo ultrices bibendum nec tristique
        metus. Maecenas convallis varius metus eu ullamcorper.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
      
      </div>
    </div>
  </div>



<div   class="container pt-2 ">
  <div style=" font-family: 'Gemunu Libre', sans-serif;"
  class="row row-cols-1 row-cols-md-3 g-4 ">
    <div class="quotes">
      <div class="card  h-100">
        <div class="box box1">
          <p>The first step toward success is taken when you refuse to be a captive of the environment in which you first find yourself. </p>
          <h2>Mark Caine</h2>
        </div>
        
      </div>
      <div class="card  h-100">
        <div class="box box1">
          <p>The first step toward success is taken when you refuse to be a captive of the environment in which you first find yourself. </p>
          <h2>Mark Caine</h2>
        </div>
        
      </div>
      <div class="card  h-100">
        <div class="box box1">
          <p>The first step toward success is taken when you refuse to be a captive of the environment in which you first find yourself. </p>
          <h2>Mark Caine</h2>
        </div>
        
      </div>
      
    
    </div>
  </div>
</div>

<div style="text-align: center; font-family: 'Gemunu Libre', sans-serif;"> Human Resources Management System within Etiya Academy
  developed.</div>
