<div class="containt">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <span class="nav-item">
       
       
      </span>
      <a style="padding-right: 10px;font-family: 'Gemunu Libre', sans-serif; width: auto; height: auto; font-size: xx-large;"
        routerLink="/home" class="navbar-brand" href="#">
        ST Career
      </a>
      <a style="padding-right: 10px;font-family: 'Gemunu Libre', sans-serif; width: auto; height: auto; font-size: x-large;"
        routerLink="/home" class="navbar-brand" href="#">
        Home
      </a>
      <a style="padding-right: 10px;font-family: 'Gemunu Libre', sans-serif; width: auto; height: auto; font-size: x-large;"
      routerLink="/school" class="navbar-brand" href="#">
      University Directory
    </a>
    <a style="padding-right: 10px;font-family: 'Gemunu Libre', sans-serif; width: auto; height: auto; font-size: x-large;"
    routerLink="/department" class="navbar-brand" href="#">
    Position Directory
  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">



        </ul>

        <div *ngIf="checkUser(); else notLoginedUser">
          <app-navi-user-info></app-navi-user-info>
        </div>
        <div class="dropdown me-2">


        </div>
        <ng-template #notLoginedUser>
          <button routerLink="/user-login" class="btn btn-outline-primary " style="box-sizing: border-box;border: 0; 
            border-radius: 24px; font-family: 'Gemunu Libre', sans-serif; font-size: x-large;" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </button>
          <div class="dropdown me-2">
            <button class="btn btn-outline-primary " style="box-sizing: border-box;border: 0; border-radius: 24px;font-family:
             'Gemunu Libre', sans-serif; width: auto; height: auto;font-size: x-large; " type="button"
              id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Sign in </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" style="box-sizing: 
              border-box;border: 0; border-radius: 24px;font-family: 'Gemunu Libre', sans-serif; font-size: x-large; "
                  routerLink="/candidate-add" href="#">Candidate</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" style="box-sizing: border-box;border: 0; border-radius: 24px;font-family:
               'Gemunu Libre', sans-serif; font-size: x-large; " routerLink="/employee-add" href="#">Employer</a></li>
            </ul>
          </div>
        </ng-template>
      </div>
    </div>
  </nav>
</div>