<div *ngIf="checkCandidate()">
  <div style="background-image: url(https://s.udemycdn.com/teaching/billboard-desktop-v4.jpg);"
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
    <div  class="col-lg-7 p-3 p-lg-5 pt-lg-3  ">
      <h1 class="display-5 fw-bold lh-1">WELCOME BACK
        <b>{{ loggedUser.firstName }} {{ loggedUser.lastName }}</b>
      </h1>
      
      <p class="lead ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec elit gravida,
        ultrices
        arcu vel, tristique leo. Sed sed malesuada justo. Nullam non orci id leo ultrices bibendum nec tristique
        metus. Maecenas convallis varius metus eu ullamcorper.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button style="color: black;" type="button" routerLink="/employer"
          class="btn btn-outline-light btn-md px-4 me-md-2 fw-bold mt-1">Employer List</button>
        <button style="color: black; " type="button" routerLink="/activatedJobAdvertisement"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Job Advertisement</button>
        <button style="color: black; " type="button" routerLink="/cvInformation"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Candidate CV Transactions</button>
        
      </div>
    </div>
  </div>

  <div >
    <app-favorite-job></app-favorite-job>
  </div>

  <div class="firstClass">
    <app-position-hober></app-position-hober>
  </div>

  <section id="footer">
    <div style="padding-bottom: 0px;" class="socialAccount ">
      <i class="me-1 fab fa-instagram fa-3x"></i>
      <i class="me-1 fab fa-facebook-square fa-3x"></i>
      <i class="me-1 fab fa-twitter-square fa-3x"></i>
      <i class="me-1 fab fa-google-play fa-3x"></i>
      <i class=" me-1 fab fa-apple fa-3x"></i>
      <div style="text-align: center; font-family: 'Gemunu Libre', sans-serif; padding-bottom: 0px;"> Human Resources Management System within
        Etiya Academy
        developed.</div>
    </div>
    </section>
    

</div>

<div *ngIf="checkEmployer()">
  <div style="background-image: url(https://s.udemycdn.com/teaching/billboard-desktop-v4.jpg);"
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-5 fw-bold lh-1">WELCOME BACK
        <b>{{ loggedUser.companyName }}</b>
      </h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec elit gravida,
        ultrices
        arcu vel, tristique leo. Sed sed malesuada justo. Nullam non orci id leo ultrices bibendum nec tristique
        metus. Maecenas convallis varius metus eu ullamcorper.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button style="color: black;" type="button" routerLink="/department-add"
          class="btn btn-outline-light btn-md px-4 me-md-2 fw-bold mt-1">Position</button>
        <button style="color: black; " type="button" routerLink="/candidate"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Candidate List</button>
        <button style="color: black; " type="button" routerLink="/activeJobAdvertisement"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Job Advertisement</button>
        <button style="color: black; " type="button" routerLink="/employerInformation"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Employer Information</button>
      </div>
    </div>
  </div>
  <div class="firstClass">
    <app-position-hober></app-position-hober>
  </div>

  <section id="footer">
    <div style="padding-bottom: 0px;" class="socialAccount ">
      <i class="me-1 fab fa-instagram fa-3x"></i>
      <i class="me-1 fab fa-facebook-square fa-3x"></i>
      <i class="me-1 fab fa-twitter-square fa-3x"></i>
      <i class="me-1 fab fa-google-play fa-3x"></i>
      <i class=" me-1 fab fa-apple fa-3x"></i>
      <div style="text-align: center; font-family: 'Gemunu Libre', sans-serif; padding-bottom: 0px;"> Human Resources Management System within
        Etiya Academy
        developed.</div>
    </div>
    </section>
    
</div>

<div *ngIf="checkSystemEmployer()">
  <div style="background-image: url(https://s.udemycdn.com/teaching/billboard-desktop-v4.jpg);"
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-5 fw-bold lh-1">WELCOME BACK
        <b>{{ loggedUser.firstName }} {{ loggedUser.lastName }}</b>
      </h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec elit gravida,
        ultrices
        arcu vel, tristique leo. Sed sed malesuada justo. Nullam non orci id leo ultrices bibendum nec tristique
        metus. Maecenas convallis varius metus eu ullamcorper.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button style="color: black;" type="button" routerLink="/unverifiedJA"
          class="btn btn-outline-light btn-md px-4 me-md-2 fw-bold mt-1">Unverified JA</button>
        <button style="color: black; " type="button" routerLink="/employerUpdateVerified"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Unverified Employer Update</button>
          <button style="color: black; " type="button" routerLink="/systemEmployerUpdate"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Your Personal Information Update</button>
      </div>
    </div>
  </div>
  <div *ngIf="unverifiedJA.length>0" class="position-fixed bottom-0 start-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        
        <strong class="me-auto">Notification<button routerLink="/unverifiedJA" class="btn btn-sm btn-ligth"><i class="fas fa-arrow-right"></i></button></strong>
        
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
       {{unverifiedJA.length}}  have a unapproved employer update notification
      </div>
    </div>
  </div>
  <div *ngIf="unverifiedEmployers.length>0" class="position-fixed bottom-0 start-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        
        <strong class="me-auto">Notification<button routerLink="/employerUpdateVerified" class="btn btn-sm btn-ligth"><i class="fas fa-arrow-right"></i></button></strong>
        
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
       {{unverifiedEmployers.length}}   have a unapproved employer update notification 
      </div>
    </div>
  </div>
</div>
 




