<div *ngIf="checkCandidate()">
  <div style="background-image: url(https://s.udemycdn.com/teaching/billboard-desktop-v4.jpg);"
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
    <div  class="col-lg-7 p-3 p-lg-5 pt-lg-3  ">
      <h1 class="display-5 fw-bold lh-1">WELCOME BACK
        <b>{{ getUserInfo().data.email }}</b>
      </h1>
      
      <p class="lead ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec elit gravida,
        ultrices
        arcu vel, tristique leo. Sed sed malesuada justo. Nullam non orci id leo ultrices bibendum nec tristique
        metus. Maecenas convallis varius metus eu ullamcorper.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button style="color: black;" type="button" routerLink="/employer"
          class="btn btn-outline-light btn-md px-4 me-md-2 fw-bold mt-1">Employer List</button>
        <button style="color: black; " type="button" routerLink="/activatedJobAdvertisement"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Job Advertisement</button>
        <button style="color: black; " type="button" routerLink="/cvInformation"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Candidate CV Transactions</button>
        <button style="color: black; " type="button" routerLink="/cv-view"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Candidate CV View</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="checkEmployer()">
  <div style="background-image: url(https://s.udemycdn.com/teaching/billboard-desktop-v4.jpg);"
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-5 fw-bold lh-1">WELCOME BACK
        <b>{{ getUserInfo().data.email }}</b>
      </h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec elit gravida,
        ultrices
        arcu vel, tristique leo. Sed sed malesuada justo. Nullam non orci id leo ultrices bibendum nec tristique
        metus. Maecenas convallis varius metus eu ullamcorper.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button style="color: black;" type="button" routerLink="/employer"
          class="btn btn-outline-light btn-md px-4 me-md-2 fw-bold mt-1">Position</button>
        <button style="color: black; " type="button" routerLink="/candidate"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Candidate List</button>
        <button style="color: black; " type="button" routerLink="/activeJobAdvertisement"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Job Advertisement</button>
        <button style="color: black; " type="button" routerLink="/employerInformation"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Employer Information</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="checkSystemEmployer()">
  <div style="background-image: url(https://s.udemycdn.com/teaching/billboard-desktop-v4.jpg);"
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-5 fw-bold lh-1">WELCOME BACK
        <b>{{ getUserInfo().data.email }}</b>
      </h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec elit gravida,
        ultrices
        arcu vel, tristique leo. Sed sed malesuada justo. Nullam non orci id leo ultrices bibendum nec tristique
        metus. Maecenas convallis varius metus eu ullamcorper.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button style="color: black;" type="button" routerLink="/unverifiedJA"
          class="btn btn-outline-light btn-md px-4 me-md-2 fw-bold mt-1">Unverified JA</button>
        <button style="color: black; " type="button" routerLink="/employerUpdateVerified"
          class="btn btn-outline-light btn-md px-4 mt-1 fw-bold">
          Unverified Employer Update</button>
      </div>
    </div>
  </div>
</div>



<div class="container ">
  <div style=" font-family: 'Gemunu Libre', sans-serif;" class="row row-cols-1 row-cols-md-3 pt-2 g-4 ">
    <div class="quotes">
      <div class="card">
        <div class="box box1">
          <p>The first step toward success is taken when you refuse to be a captive of the environment in which you
            first find yourself. </p>
          <h2>Mark Caine</h2>
        </div>

      </div>
      <div class="card">
        <div class="box box1">
          <p>The first step toward success is taken when you refuse to be a captive of the environment in which you
            first find yourself. </p>
          <h2>Mark Caine</h2>
        </div>

      </div>
      <div class="card">
        <div class="box box1">
          <p>The first step toward success is taken when you refuse to be a captive of the environment in which you
            first find yourself. </p>
          <h2>Mark Caine</h2>
        </div>

      </div>


    </div>
  </div>
</div>

<div style="text-align: center; font-family: 'Gemunu Libre', sans-serif;"> Human Resources Management System within
  Etiya Academy
  developed.</div>