

<div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-sidemenu></app-sidemenu>
      </div>
      <div style=" font-family: 'Gemunu Libre', sans-serif;" class="col-md-9">
        <p-card>
            <ng-template pTemplate="title">
              Personal Skill İnformation
            </ng-template>
        
        
        
        <form style=" font-family: 'Gemunu Libre', sans-serif;" [formGroup]="candidateSchoolForm" class="mt-3">
            <div class="row mb-3">
                <div class="form-group col-md-12">
        
                    <select name="schoolId" id="schoolId" class="form-select" formControlName="schoolId">
                        <option value="" disabled selected>Please select your school</option>
                        <option *ngFor="let school of schools" value="{{ school.id }}">
                            {{ school.name }}
                        </option>
                    </select>
                    <div style="padding-top:10px ;"> <select name="departmentId" id="departmentId" class="form-select"
                            formControlName="departmentId">
                            <option value="" disabled selected>Please select your skill</option>
                            <option *ngFor="let department of departments" value="{{ department.id }}">
                                {{ department.name }}
                            </option>
                        </select></div>
        
                    <div style="padding-top:10px ;" class="input-group input-group-sm mb-3">
                        <input type="text" formControlName="startYear" placeholder="Please enter your start year!"
                            class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" formControlName="graduationYear" placeholder="Please enter your graduation year!"
                            class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
        
        
                </div>
            </div>
            <button class="btn btn-primary my-4" (click)="add()">
                Add
            </button>
        
        </form>
        
        <div style="padding-top: 20px; font-family: 'Gemunu Libre', sans-serif; " class="container">
            <p-table id="myTable" #dt class="deneme" [value]="candidateSchool" dataKey="id" styleClass="p-datatable-customers"
                [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
                [paginator]="true" [ngStyle]="{backgroundColor:'var(--blue-500)'}"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        Candidate School
        
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="schoolId">
                            <div class="d-flex justify-content-between align-items-center">
                                School
                                <p-sortIcon field="schoolId"></p-sortIcon>
                                <p-columnFilter type="text" field="schoolId" display="menu" class="ms-auto"></p-columnFilter>
                            </div>
                        </th>
        
                        <th pSortableColumn="departmentId">
                            <div class="d-flex justify-content-between align-items-center">
                                Department
                                <p-sortIcon field="departmentId"></p-sortIcon>
                                <p-columnFilter type="text" field="departmentId" display="menu" class="ms-auto">
                                </p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="startYear">
                            <div class="d-flex justify-content-between align-items-center">
                                Start Year
                                <p-sortIcon field="startYear"></p-sortIcon>
                                <p-columnFilter type="date" field="startYear" display="menu" class="ms-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="graduationYear">
                            <div class="d-flex justify-content-between align-items-center">
                                Graduation Year
                                <p-sortIcon field="graduationYear"></p-sortIcon>
                                <p-columnFilter type="text" field="graduationYear" display="menu" class="ms-auto">
                                </p-columnFilter>
                            </div>
                        </th>
        
        
        
        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-school>
                    <tr class="p-selectable-row">
                        <td>
                            <span class="p-column-title">School</span>
                            {{ school.school.name}}
                        </td>
                        <td>
                            <span class="p-column-title">Department</span>
                            {{ school.department.name }}
                        </td>
                        <td>
                            <span class="p-column-title">Start Year</span>
                            {{ school.startYear }}
                        </td>
                        <td>
                            <span *ngIf="school.graduationYear"> {{ school.graduationYear }}</span>
                            <span *ngIf="!school.graduationYear">Continue</span>
                        </td>
        
        
        
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No jobs found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </p-card>
      </div>
    </div>
</div>

